<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Uno Kim">
  <title>게시글 페이지</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="/css/articles/article-content.css" rel="stylesheet">
</head>

<body>

  <header id="header">
    헤더 삽입부
    <hr>
  </header>

  <main id="article-main" class="container">
    <header id="article-header" class="py-5 text-center">
      <h1>첫번째 글</h1>
    </header>

    <div class="row g-5">
      <section class="col-md-3 col-lg-4 order-md-last">
        <aside>
          <p><span id="nickname">Uno</span></p>
          <p><a id="email" href="mailto:djkehh@gmail.com">uno@mail.com</a></p>
          <p><time id="created-at" datetime="2022-01-01T00:00:00">2022-01-01</time></p>
          <p><span id="hashtag">#java</span></p>
        </aside>
      </section>

      <article id="article-content" class="col-md-9 col-lg-8">
        <pre>본문</pre>
      </article>
    </div>

    <div class="row g-5" id="article-buttons">
      <form id="delete-article-form">
        <div class="pb-5 d-grid gap-2 d-md-block">
          <a class="btn btn-success me-md-2" role="button" id="update-article">수정</a>
          <button class="btn btn-danger me-md-2" type="submit">삭제</button>
        </div>
      </form>
    </div>

    <div class="row g-5">
      <section>
        <form class="row g-3">
          <div class="col-md-9 col-lg-8">
            <label for="comment-textbox" hidden>댓글</label>
            <textarea class="form-control" id="comment-textbox" placeholder="댓글 쓰기.." rows="3"></textarea>
          </div>
          <div class="col-md-3 col-lg-4">
            <label for="comment-submit" hidden>댓글 쓰기</label>
            <button class="btn btn-primary" id="comment-submit" type="submit">쓰기</button>
          </div>
        </form>

        <ul id="article-comments" class="row col-md-10 col-lg-8 pt-3">
          <li>
            <div class="row">
              <strong>Uno</strong>
              <small><time>2022-01-01</time></small>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Lorem ipsum dolor sit amet
              </p>
            </div>
          </li>
          <li>
            <div class="row">
              <strong>Uno2</strong>
              <small><time>2022-01-01</time></small>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Lorem ipsum dolor sit amet
              </p>
            </div>
          </li>
        </ul>

      </section>
    </div>

    <div class="row g-5">
      <nav id="pagination" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo; prev</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </main>

  <footer id="footer">
    <hr>
    푸터 삽입부
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
