<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시판 페이지</title>
</head>

<body>

  <header id="header"></header>

  <main>
    <form>
      <label for="search-type" hidden>유형</label>
      <select id="search-type" name="search-type">
        <option>제목</option>
        <option>본문</option>
        <option>ID</option>
        <option>닉네임</option>
        <option>해시태그</option>
      </select>
      <label for="search-value" hidden>검색어</label>
      <input id="search-value" type="search" placeholder="검색어..." name="search-value">
      <button type="submit">검색</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>제목</th>
          <th>해시태그</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>첫글</td>
          <td>#java</td>
          <td>Uno</td>
          <td>2022-01-01</td>
        </tr>
        <tr>
          <td>두번째글</td>
          <td>#spring</td>
          <td>Uno</td>
          <td>2022-01-02</td>
        </tr>
        <tr>
          <td>세번째글</td>
          <td>#java</td>
          <td>Uno</td>
          <td>2022-01-03</td>
        </tr>
      </tbody>
    </table>

    <nav>
      <table>
        <tr>
          <td>previous</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>next</td>
        </tr>
      </table>
    </nav>
  </main>

  <footer id="footer"></footer>

</body>
</html>
